<html xmlns:th="http://www.thymeleaf.org">

<script th:src="@{/library/front/js/main.js}"></script>
<script th:src="@{/library/front/js/bootstrap.min.js}"></script>
<script th:src="@{/library/front/js/owl-carousel/owl.carousel.min.js}"></script>
<script th:src="@{/library/front/js/counter/jquery.countTo.js}"></script>
<script th:src="@{/library/front/js/jquery.appear.js}"></script>
<script th:src="@{/library/front/js/magnific-popup/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/library/front/js/wow.min.js}"></script>
<script th:src="@{/library/front/js/jquery.countdown.min.js}"></script>
<script th:src="@{/library/front/js/particles/particles.min.js}"></script>
<script th:src="@{/library/front/js/particles/app.js}"></script>
<script th:src="@{/library/front/js/custom.js}"></script>
<script th:src="@{/library/front/js/modal.js}"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
<script src="https://kit.fontawesome.com/e989c036e6.js" crossorigin="anonymous"></script>
</html>