<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: head('쿨스타 공지사항')">
</head>

<body>
	<th:block th:replace="fragments/front/common :: header-sub"></th:block>
	<section class="iq-breadcrumb overview-block-pt text-center iq-bg iq-bg-fixed iq-over-black-90 iq-box-shadow">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="heading-title iq-breadcrumb-title iq-mtb-100">
						<h1 class="title iq-tw-8 iq-font-white">이벤트 당첨자</h1>
						<div class="divider white"></div>
					</div>
					<ul class="breadcrumb">
						<li><a href="javascript:void(0)"><i class="ion-home"></i> Home</a></li>
						<li class="active">Event</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="main-content">
		<section class="about-area section-gap">
			<div class="container mt-5">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 iq-mb-20">
						<div class="iq-blog-box">
							<div class="iq-blog-image clearfix">
								<img class="img-responsive center-block"
									th:src="@{/library/front/images/temp/test-01.jpg}" alt="#">
							</div>
							<div class="iq-blog-detail">
								<div class="blog-title">
									<a href="blog-single.html">
										<h5 class="iq-tw-6">n월 nn일 이벤트 당첨자 안내</h5>
									</a>
								</div>
								<div class="iq-blog-meta">
									<ul class="list-inline">
										<li><a href="javascript:void(0)"><i
												class="fa fa-calendar" aria-hidden="true"></i> 12 Aug 2017</a></li>
									</ul>
								</div>
								<div class="blog-content">
									<p>홈에스테틱의 선두주자 D브랜드, 앞으로도 사업이 번창하시길 바랍니다 :)</p>
								</div>
								<div class="blog-button">
									<a href="javascript:void(0)" class="pull-left iq-tw-6 iq-user"><i
										class="fa fa-user-circle" aria-hidden="true"></i> Coolstagram</a>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 iq-mb-20">
						<div class="iq-blog-box">
							<div class="iq-blog-image clearfix">
								<img class="img-responsive center-block"
									th:src="@{/library/front/images/temp/test-01.jpg}" alt="#">
							</div>
							<div class="iq-blog-detail">
								<div class="blog-title">
									<a href="blog-single.html">
										<h5 class="iq-tw-6">n월 nn일 이벤트 당첨자 안내</h5>
									</a>
								</div>
								<div class="iq-blog-meta">
									<ul class="list-inline">
										<li><a href="javascript:void(0)"><i
												class="fa fa-calendar" aria-hidden="true"></i> 12 Aug 2017</a></li>
									</ul>
								</div>
								<div class="blog-content">
									<p>홈에스테틱의 선두주자 D브랜드, 앞으로도 사업이 번창하시길 바랍니다 :)</p>
								</div>
								<div class="blog-button">
									<a href="javascript:void(0)" class="pull-left iq-tw-6 iq-user"><i
										class="fa fa-user-circle" aria-hidden="true"></i> Coolstagram</a>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 iq-mb-20">
						<div class="iq-blog-box">
							<div class="iq-blog-image clearfix">
								<img class="img-responsive center-block"
									th:src="@{/library/front/images/temp/test-01.jpg}" alt="#">
							</div>
							<div class="iq-blog-detail">
								<div class="blog-title">
									<a href="blog-single.html">
										<h5 class="iq-tw-6">n월 nn일 이벤트 당첨자 안내</h5>
									</a>
								</div>
								<div class="iq-blog-meta">
									<ul class="list-inline">
										<li><a href="javascript:void(0)"><i
												class="fa fa-calendar" aria-hidden="true"></i> 12 Aug 2017</a></li>
									</ul>
								</div>
								<div class="blog-content">
									<p>홈에스테틱의 선두주자 D브랜드, 앞으로도 사업이 번창하시길 바랍니다 :)</p>
								</div>
								<div class="blog-button">
									<a href="javascript:void(0)" class="pull-left iq-tw-6 iq-user"><i
										class="fa fa-user-circle" aria-hidden="true"></i> Coolstagram</a>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 iq-mb-20">
						<div class="iq-blog-box">
							<div class="iq-blog-image clearfix">
								<img class="img-responsive center-block"
									th:src="@{/library/front/images/temp/test-01.jpg}" alt="#">
							</div>
							<div class="iq-blog-detail">
								<div class="blog-title">
									<a href="blog-single.html">
										<h5 class="iq-tw-6">n월 nn일 이벤트 당첨자 안내</h5>
									</a>
								</div>
								<div class="iq-blog-meta">
									<ul class="list-inline">
										<li><a href="javascript:void(0)"><i
												class="fa fa-calendar" aria-hidden="true"></i> 12 Aug 2017</a></li>
									</ul>
								</div>
								<div class="blog-content">
									<p>홈에스테틱의 선두주자 D브랜드, 앞으로도 사업이 번창하시길 바랍니다 :)</p>
								</div>
								<div class="blog-button">
									<a href="javascript:void(0)" class="pull-left iq-tw-6 iq-user"><i
										class="fa fa-user-circle" aria-hidden="true"></i> Coolstagram</a>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 iq-mb-20">
						<div class="iq-blog-box">
							<div class="iq-blog-image clearfix">
								<img class="img-responsive center-block"
									th:src="@{/library/front/images/temp/test-01.jpg}" alt="#">
							</div>
							<div class="iq-blog-detail">
								<div class="blog-title">
									<a href="blog-single.html">
										<h5 class="iq-tw-6">n월 nn일 이벤트 당첨자 안내</h5>
									</a>
								</div>
								<div class="iq-blog-meta">
									<ul class="list-inline">
										<li><a href="javascript:void(0)"><i
												class="fa fa-calendar" aria-hidden="true"></i> 12 Aug 2017</a></li>
									</ul>
								</div>
								<div class="blog-content">
									<p>홈에스테틱의 선두주자 D브랜드, 앞으로도 사업이 번창하시길 바랍니다 :)</p>
								</div>
								<div class="blog-button">
									<a href="javascript:void(0)" class="pull-left iq-tw-6 iq-user"><i
										class="fa fa-user-circle" aria-hidden="true"></i> Coolstagram</a>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 iq-mb-20">
						<div class="iq-blog-box">
							<div class="iq-blog-image clearfix">
								<img class="img-responsive center-block"
									th:src="@{/library/front/images/temp/test-01.jpg}" alt="#">
							</div>
							<div class="iq-blog-detail">
								<div class="blog-title">
									<a href="blog-single.html">
										<h5 class="iq-tw-6">n월 nn일 이벤트 당첨자 안내</h5>
									</a>
								</div>
								<div class="iq-blog-meta">
									<ul class="list-inline">
										<li><a href="javascript:void(0)"><i
												class="fa fa-calendar" aria-hidden="true"></i> 12 Aug 2017</a></li>
									</ul>
								</div>
								<div class="blog-content">
									<p>홈에스테틱의 선두주자 D브랜드, 앞으로도 사업이 번창하시길 바랍니다 :)</p>
								</div>
								<div class="blog-button">
									<a href="javascript:void(0)" class="pull-left iq-tw-6 iq-user"><i
										class="fa fa-user-circle" aria-hidden="true"></i> Coolstagram</a>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row iq-mt-80">
					<div class="col-lg-12 col-md-12 text-center">
						<ul class="pagination pagination-lg">
							<li class="disabled"><a href="javascript:void(0)"> <i
									class="ion-ios-arrow-left"></i>
							</a></li>
							<li class="active"><a href="javascript:void(0)">1</a></li>
							<li><a href="javascript:void(0)">2</a></li>
							<li><a href="javascript:void(0)">3</a></li>
							<li><a href="javascript:void(0)">4</a></li>
							<li><a href="javascript:void(0)">5</a></li>
							<li><a href="javascript:void(0)"> <i
									class="ion-ios-arrow-right"></i>
							</a></li>
						</ul>
					</div>
				</div>
			</div>
			
		</section>
	</div>
	<footer class="iq-footer white-bg text-center" th:replace="fragments/front/common :: footer"></footer>
	<th:block th:replace="fragments/front/common :: btn-group"></th:block>
	<th:block th:replace="fragments/front/script"></th:block>
</body>

</html>